body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f7fb;
}

.app-container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

.app-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 40px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.08);
}

.input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  margin-top: 12px;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #1d4ed8;
}

.result-box {
  margin-top: 20px;
  background: #f9fafb;
  padding: 15px;
  border-radius: 10px;
  border-left: 4px solid #3b82f6;
}

.timeline {
  margin: 0;
  padding-left: 20px;
}

.timeline li {
  margin-bottom: 6px;
}

.error {
  color: red;
  font-weight: bold;
}

.analytics-container {
  margin-top: 40px;
  text-align: center;
}

.btn-analytics {
  padding: 12px 20px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.analytics-box {
  margin-top: 20px;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.08);
  text-align: left;
}
